<html>
 <head>
   <meta charset="utf-8">
   <title>Editing the GPU Information</title>
   <style>
   * {
     font-family: verdana;
   }
   .button {
     background-color: #4CAF50;
     border: none;
     color: white;
     padding: 5px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     }</style>
 </head>
 <center>
 <body style='font-family="verdana"'> <strong>Edit the GPU information below </strong><br/>
   <form method="post" action="/modifygpu">
     <table cellspacing="10">
       <tr>
         <td>GPU Name:</td>
         <td><input type="text" name="gpu_name_update" required="True" value="{{ clicked_gpuname_key.gpuname }}" readonly/></td>
       </tr>
       <tr>
          <td>GPU Manufacturing:</td>
          <td><input type="text" name="gpu_manufacturing_update" value="{{ clicked_gpuname_key.gpumanufacturing }}" required="True"/></td>
      </tr>
      <tr>
        <td>GPU Date:</td>
        <td><input type="date" name="gpu_date_update" value="{{ clicked_gpuname_key.gpudate }}" required="True"/></td>
      </tr>
        <input type="hidden" value="{{gpu_name_list_display}}" name="gpu_name_list_display"/>
      </table>
       <strong>Edit the GPU features below: </strong><br/>
       <table cellspacing="10">
      <tr>
        <td>Geometry Shader:</td>
       {% if clicked_gpuname_key.geometryshader %}
       <td><input name="geometryShader_update" type="checkbox" checked/></td>
       {% else %}
       <td><input name="geometryShader_update" type="checkbox" /></td>
       {% endif %}
     </tr>
     <tr>
      <td> Tesselation Shader:</td>
       {% if clicked_gpuname_key.tesselationshader %}
       <td><input name="tesselationShader_update" type="checkbox" checked/></td>
       {% else %}
       <td><input name="tesselationShader_update" type="checkbox" /></td>
       {% endif %}
     </tr>
     <tr>
      <td>  Shader Int16:</td>
       {% if clicked_gpuname_key.shaderint %}
       <td><input name="shaderInt16_update" type="checkbox" checked/></td>
       {% else %}
       <td><input name="shaderInt16_update" type="checkbox" /></td>
       {% endif %}
     </tr>
     <tr>
        <td>Sparse Binding:</td>
       {% if clicked_gpuname_key.sparsebinding %}
       <td><input name="sparseBinding_update" type="checkbox" checked/></td>
       {% else %}
       <td><input name="sparseBinding_update" type="checkbox" /></td>
       {% endif %}
     </tr>
     <tr>
        <td>Texture Compression ETC2:</td>
       {% if clicked_gpuname_key.texturecompressionetc %}
       <td><input name="textureCompressionETC2_update" type="checkbox" checked/></td>
       {% else %}
       <td><input name="textureCompressionETC2_update" type="checkbox" /></td>
       {% endif %}
     </tr>
     <tr>
       <td>Vertex Pipeline Stores And Atomics:</td>
       {% if clicked_gpuname_key.vertexpipelinestoresandatomics %}
       <td><input name="vertexPipelineStoresAndAtomics_update" type="checkbox" checked/></td>
       {% else %}
       <td><input name="vertexPipelineStoresAndAtomics_update" type="checkbox" /></td>
       {% endif %}
     </tr>
   </table>
     <input type="submit" name="update" class="button" value="Update"/></br>
   </form>
   <form action="/modifygpu" method="post">
    <input type="submit" name="button" class="button" value="Cancel">
    </form>
  </body>
</center>
</html>
