<html>
 <head>
   <meta charset="utf-8">
   <title>Search GPU Information</title>
   <style>
   * {
     font-family: verdana;
   }
   .button {
     background-color: #4CAF50;
     border: none;
     color: white;
     padding: 5px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     }</style>
 </head>
 <body style='font-family="verdana"'><center><strong>Enter the Information below <br/></br>
   <form method="get" action="/searchgpu">
     Please enter the features details below to search the GPU: <strong><br/></br>
    <table cellspacing="10">
     <tr>
     <td>Geometry Shader:</td>
     {% if geometryShader_Search %}
     <td><input name="geometryShader_Search" value="geometryShader_Search" type="checkbox" checked/></td>
     {% else %}
     <td><input name="geometryShader_Search" value="geometryShader_Search" type="checkbox" /></td>
     {% endif %}
   </tr>
    <tr>
      <td>Tesselation Shader:</td>
     {% if tesselationShader_Search %}
     <td><input name="tesselationShader_Search" value="tesselationShader_Search" type="checkbox" checked/></td>
     {% else %}
     <td><input name="tesselationShader_Search" value="tesselationShader_Search" type="checkbox" ></td>
     {% endif %}
   </tr>
    <tr>
     <td>Shader Int16:</td>
     {% if shaderInt16_Search %}
     <td><input name="shaderInt16_Search" value="shaderInt16_Search" type="checkbox" checked /></td>
     {% else %}
     <td><input name="shaderInt16_Search" value="shaderInt16_Search" type="checkbox" ></td>
     {% endif %}
   </tr>
    <tr>
     <td>Sparse Binding:</td>
     {% if sparseBinding_Search %}
     <td><input name="sparseBinding_Search" value="sparseBinding_Search" type="checkbox" checked/></td>
     {% else %}
     <td><input name="sparseBinding_Search" value="sparseBinding_Search" type="checkbox" ></td>
     {% endif %}
   </tr>
    <tr>
     <td>Texture Compression ETC2:</td>
     {% if textureCompressionETC2_Search %}
     <td><input name="textureCompressionETC2_Search" value="textureCompressionETC2_Search" type="checkbox" checked/></td>
     {% else %}
     <td><input name="textureCompressionETC2_Search" value="textureCompressionETC2_Search" type="checkbox" /></td>
     {% endif %}
   </tr>
    <tr>
     <td>Vertex Pipeline Stores And Atomics:</td>
     {% if vertexPipelineStoresAndAtomics_Search %}
     <td><input name="vertexPipelineStoresAndAtomics_Search" value="vertexPipelineStoresAndAtomics_Search" type="checkbox" checked/></td>
     {% else %}
     <td><input name="vertexPipelineStoresAndAtomics_Search" value="vertexPipelineStoresAndAtomics_Search" type="checkbox" /></td>
     {% endif %}
   </tr>
 </table>
     <br/>
     <input class="button" type="submit" name="searchinggpu" value="Search"/></br>

     <br/>
     {% if listGPUDetails_query_list|length > 0 %}
        {% for gpuSearchNamesList in listGPUDetails_query_list %}
        {{ loop.index }}
        ) GPU name: {{ gpuSearchNamesList.gpuname }}</br>
        <form method="post" action="/searchgpu">
          <input type="hidden" value="{{ loop.index }}" name="index"/>
        </form>
      {% endfor %}
     {% else %}
      No GPU Name Displayed
     {% endif %}
   </form>
   <form action="/edit" method="post">
   </br><input class="button" type="submit" name="button" value="Cancel"><br/>
   </form>
  </body>
  </center>
</html>
