<html>
 <head>
   <meta charset="utf-8">
  <title>Displaying GPU Information</title>
  <style>
  * {
    font-family: verdana;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }</style>
 </head>
  <center>
 <body style='font-family="verdana"'> <strong>Below are the GPU details : </strong><br/></br>
   <form method="post" action="/updateedit">
     <table cellspacing="10">
       <tr>
         <td>GPU Name:</td>
          <td><input type="text" name="gpu_name_update" required="True" value="{{ clicked_gpuname_key.gpuname }}" readonly/></td>
      </tr>
      <tr>
        <td>GPU Manufacturing:</td>
        <td><input type="text" name="gpu_manufacturing_update" value="{{ clicked_gpuname_key.gpumanufacturing }}" readonly/></td>
      </tr>
      <tr>
        <td>GPU Date:</td>
        <td><input type="date" name="gpu_date_update" value="{{ clicked_gpuname_key.gpudate }}" readonly/></td>
      </tr>
    </table>
     <br/>
       <input type="hidden" value="{{gpu_name_list_display}}" name="gpu_name_list_display"/>

       <strong>Below are the GPU features details : </strong><br/><br/>
       <table cellspacing="10">
       <tr><td>Geometry Shader:</td>
       {% if clicked_gpuname_key.geometryshader %}
        <td>{{ clicked_gpuname_key.geometryshader }}</td>
       {% else %}
        <td>{{ clicked_gpuname_key.geometryshader }}</td>
       {% endif %}
      </tr>
      <tr>
       <td>Tesselation Shader:</td>
       {% if clicked_gpuname_key.tesselationshader %}
        <td>{{ clicked_gpuname_key.tesselationshader }}</td>
       {% else %}
        <td>{{ clicked_gpuname_key.tesselationshader }}</td>
       {% endif %}
     </tr>
     <tr>
        <td>Shader Int16:</td>
       {% if clicked_gpuname_key.shaderint %}
        <td>{{ clicked_gpuname_key.shaderint }}</td>
       {% else %}
        <td>{{ clicked_gpuname_key.shaderint }}</td>
       {% endif %}
     </tr>
     <tr>
        <td>Sparse Binding:</td>
       {% if clicked_gpuname_key.sparsebinding %}
        <td>{{ clicked_gpuname_key.sparsebinding }}</td>
       {% else %}
        <td>{{ clicked_gpuname_key.sparsebinding }}</td>
       {% endif %}
     </tr>
     <tr>
        <td>Texture Compression ETC2:</td>
       {% if clicked_gpuname_key.texturecompressionetc %}
        <td>{{ clicked_gpuname_key.texturecompressionetc }}</td>
       {% else %}
        <td>{{ clicked_gpuname_key.texturecompressionetc }}</td>
       {% endif %}
     </tr>
     <tr>
       <td>Vertex Pipeline Stores And Atomics:</td>
       {% if clicked_gpuname_key.vertexpipelinestoresandatomics %}
        <td>{{ clicked_gpuname_key.vertexpipelinestoresandatomics }}</td>
       {% else %}
        <td>{{ clicked_gpuname_key.vertexpipelinestoresandatomics }}</td>
       {% endif %}
     </tr>
   </table>
       <br/> <a href="/modifygpu?gpu_name_list_display={{clicked_gpuname_key.gpuname}}" class="button">Edit GPU<a></br></br>
     </form>
   <form action="/updateedit" method="post">
    <input class="button" type="submit" name="button" value="Cancel">
    </form>
  </body>
</center>
</html>
